<div class="container">
 <form method="post" action="{{ path('app_post_delete', {'id': post.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce post ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>   
</div>